<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <title></title>
        <link rel="stylesheet" href="./CSS/app.css">
    </head>
    <body>
        <h1>Inventory</h1>
        <!-- <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <a href="#">/items/new></a>

            </div>

        </div> -->

        <ul>
            <% for(let i = 0; i < items.length; i++) { %>
                <li>
                    <div class="card">

                    <img src="<%=items[i].Img%>"/>

                    <form action="/items/<%=items[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>

                    </form>

                    <br/><button><a href="/items/<%=items[i].id%>/edit">Edit Items</a></button>

                    <h4><a href="/items/<%=items[i].id%>"><%=items[i].Brand%>
                    </a></h4>
                </li>

            <% } %>
            <nav>
                <br/><button><a href="/items/new">Add New Item</a></button>
            </nav>


        </ul>
        </div>
    </body>
</html>
