<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <title></title>
        <link rel="stylesheet" href="./CSS/app.css">
    </head>
    <body>
        <h1>Inventory</h1>
        <ul id="">
            <% for(let i = 0; i < items.length; i++) { %>
                <li>
                    <a href="/items/<%=items[i].id%>"><%=items[i].Brand%>
                    </a>

                    <img src="<%=items[i].Img%>"/>

                    <form action="/items/<%=items[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>

                    </form>

                    <br/><a href="/items/<%=items[i].id%>/edit">Edit Items</a>
                </li>

            <% } %>
            <nav>
                <br/><button><a href="/items/new">Add New Item</a></button>
            </nav>


        </ul>
    </body>
</html>
